.home-container {
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.home-content {
  display: flex;
  align-items: center;
  height: 65vh;
}

.home-content > h1 {
  width: 50vw;
  text-align: center;
  font-size: 3.5rem;
  font-weight: 650;
}

.one-stop {
  background: linear-gradient(#ff1cf7 25%, #7d00d0);
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.home-video > video {
  position: absolute;
  top: 4rem;
  left: 0;
  z-index: -1;
  width: 100vw;
  height: 90vh;
  object-fit: cover;
  opacity: 0.4;
}
